* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, rgba(238, 205, 16, 0.75), rgba(8, 83, 156, 0.75)),url('../images/background.jpg');
    background-repeat: no-repeat;
}
.main-input{
    height: 600px;
    background: linear-gradient(45deg, rgba(238, 205, 16, 0.75), rgba(8, 83, 156, 0.75)),url('../images/background2.jpg');
    background-repeat: no-repeat;
}
.main-result{
    height: 600px;
    background: linear-gradient(45deg, rgba(238, 205, 16, 0.75), rgba(8, 83, 156, 0.75)),url('../images/background3.jpg');
    background-repeat: no-repeat;
}
.btn-submit :hover{
    background-color: green;
}
.form-inline {
    display: flex; /* Use flex display to make the form elements inline */
    align-items: center; /* Align elements vertically in the middle */
}
#home-logo{
    text-align: center;
    display: inline-block;
    transition: 0.5s;
}
#home-logo:hover{
    transform: translate(-30px);
}
#Home-nav{
    font: size 0px;;
}
#Home-nav:hover{
    color: crimson;
    font-weight: 600;
    
}


.home-logo {
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}




.new_tweet{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    margin: 6px;
    border: 20px;
    border: 2px solid #dfd6e9;
    background-color:green;
    color: #fff;
    text-decoration: none;
    transition: 0.5s all;
}
.new_tweet:hover{
    font-family: 'Poppins', sans-serif;
    text-transform:capitalize;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 25px;
    border-radius: 50px;
    margin: 6px;
    border: 10px;
    border: 2px solid #dbd6c3;
    background-color:green;
    color: #02060c;
    transition: 0.5s all;
}

/* Additional CSS for left and right advertisement if needed */
/*
main {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}
*/
